<html xmlns="http://www.w3.org/1999/html">
<head>
<title>Мой первый сайт</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="/statics/css/styless.css" rel="stylesheet" type="text/css">
</head>
{% load poll_extras %}
<body style="background-color: rgb(138, 161, 182);" leftmargin="0" rightmargin="0" topmargin="0" bottommargin="0" marginheight="0" marginwidth="0">
<table class="Bordered" align="center" border="0" cellpadding="0" cellspacing="0" height="18" width="897">
<tbody>
<tr>
<td>
<p><font face="verdana,arial" size="6"><b>Здесь должен быть банер</b></font></p>
</td>
</tr>
<tr>
<td style="color: rgb(157, 176, 202); padding-top: 3px; padding-left: 21px;" valign="bottom"></td>
<td style="color: rgb(157, 176, 202); padding-top: 3px; padding-right: 16px;" align="right" valign="bottom">
<a title="Контакты" href="#">Контакт</a> | <a title="Помощь" href="#">Помощь</a>
</td>
</tr>
</tbody></table>
<table class="columnset" valign="top" style="border-left: 1px solid black; border-right: 1px solid black; background-color: rgb(255, 255, 255);" align="center" border="0" cellpadding="0" cellspacing="10" width="897">
<tbody><tr>
<td style="" valign="top" width="180"><img src="/statics/spacer.gif" alt="" height="1" width="180"><br>
	<table border="0" cellpadding="0" cellspacing="0" width="100%">	
	<tbody>	
	<tr>
	  <td align="center" valign="top"> 		
			<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">				
			<tbody><tr><td>
<table border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td valign="top">
<div id="b2">
<ul>
<li><div class="bhz"><span class="ht1"></span><span class="hw2">Панель управления</span></div></li>

<div class="menu">
    {% menu %}
</div>

</ul>
</div>
</td>
</tr></tbody></table>
 </td></tr>
</tbody></table>
	  </td>
	</tr>
	</tbody></table>
	<img src="/statics/spacer.gif" alt="" height="10" width="1">
	<table class="Boxmain" border="0" cellpadding="0" cellspacing="0" height="210" width="100%">	
	<tbody>
<div class="bhz"><span class="ht1">»&nbsp;</span><span class="hw2">Text Header</span></div>	
	<tr>
	  <td class="MainBody" align="center" valign="top"> 	
    Content here Content here Content here Content here Content here Content here
      Content here Content here
<br>
<br>
     Content here Content here Content here Content here Content here Content here
      Content here Content heres	
	  </td>
	</tr>
	</tbody></table>
	<img src="../../statics/spacer.gif" alt="" height="10" width="1">
	<table class="Boxmain" border="0" cellpadding="0" cellspacing="0" height="125" width="100%">	
	<tbody><tr>
	 <div class="bhz"><span class="ht1">»&nbsp;</span><span class="hw2">Text Header</span></div></tr>
	<tr>
	  <td class="MainBody" align="center" valign="top"> 			
			<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">				
			<tbody><tr><td>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody><tr><td style="padding-bottom: 5px;">Content here Content here Content here Content here Content here Content here
      Content here Content here</td></tr>
</tbody></table></td></tr>
</tbody></table>
	  </td>
	</tr>
	</tbody></table>
<img src="../../statics/spacer.gif" alt="" height="10" width="1">
	<table class="Box2" border="0" cellpadding="0" cellspacing="0" height="125" width="100%">	
	<tbody><tr>
	  <td class="Header2">Text Header</td>
	</tr>
	<tr>
	  <td class="MainBody" align="center" valign="top"> 			
			<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">				
			<tbody><tr><td>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody><tr><td colspan="2" style="padding-bottom: 5px;">Content here Content here Content here Content here Content here Content here
      Content here Content here</td></tr>
</tbody></table></td></tr>
</tbody></table>
	  </td>
	</tr>
	</tbody></table>
	<img src="/statics/spacer.gif" alt="" height="10" width="1">
</td>
<td style="" valign="top" width="471"><img src="../../statics/spacer.gif" alt="" height="1" width="471"><br>
<table class="row" valign="" style="" align="" border="0" cellpadding="" cellspacing="" width="100%">
<tbody><tr><td>
	<table class="Boxmain" border="0" cellpadding="0" cellspacing="0" width="100%">	
	<tbody><tr>
	  <td class="LoginHeader">Welcome To My Portal</td>
	</tr>
	<tr>
	  <td class="MainBody" align="center" valign="top"> 			
<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody><tr><td>
<div style="padding: 10px;">
<h2>Вот что надо</h2>
<br>
{% block body %}
<p>
<b>Template design by <a href="http://www.ex-designz.net">Ex-designz.net</a></b>
</p>
<p>If you would like to use this template, please leave a link back to Ex-designz.net.
</p>
<p>
Praesent ac orci sed dui suscipit consectetuer. Nam sed felis ut dolor rhoncus pellentesque. In eget justo eu pede porttitor gravida. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam tristique vestibulum nisl. Duis vestibulum semper ante. Proin posuere hendrerit tortor. Integer arcu. In varius porta velit. Sed risus leo, iaculis non, vehicula sit amet, sagittis vitae, mi. Nulla porta pede eleifend nibh. Aliquam mi nisl, fermentum ut, mattis et, viverra tempor, sapien. Cras eu risus. Aenean commodo felis eget pede. Maecenas velit. Pellentesque arcu. Cras egestas aliquet sem.<br>
<br>
Vestibulum pulvinar tristique purus. Nunc lacus arcu, scelerisque eu, faucibus a, congue eget, lectus. Mauris eu justo. Vestibulum magna. Suspendisse blandit venenatis erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent eu sapien. Cras condimentum metus non erat. Integer volutpat pharetra massa. Mauris laoreet nunc eget ipsum.<br>
<br>
In pharetra nunc id felis. Vivamus porttitor. Nullam at leo. Fusce eget neque. In ut mi eu sapien sagittis luctus. Aenean in ligula sed lacus rhoncus vehicula. Aliquam vel arcu eu ligula malesuada venenatis. Duis tincidunt. Cras eu odio quis libero eleifend convallis. Quisque nec diam ac urna ultrices ultrices. Vivamus orci libero, convallis vel, volutpat ut, feugiat eu, justo. Donec eget diam. Integer varius tellus sed sapien. Maecenas pulvinar eros a dui. Cras luctus, lectus sit amet tincidunt condimentum, dui mi consectetuer odio, eu accumsan mauris wisi a nulla. Phasellus ac neque ut eros aliquam euismod. Donec condimentum quam id velit. Proin a metus ac enim euismod ornare. Cras tortor.<br>
<br>
Aenean lorem mi, congue sit amet, euismod nec, lacinia vitae, wisi. Mauris accumsan fringilla mi. Integer ut nunc. Sed turpis risus, convallis quis, fringilla quis, semper sed, erat. Fusce ac dui. Cras at tellus eu arcu vehicula ornare. In metus sem, fermentum vel, cursus non, accumsan nec, massa. Nam cursus vulputate enim. Vestibulum hendrerit, nisl quis laoreet blandit, orci libero tristique risus, ut blandit mauris tellus a magna. Aliquam diam. Proin tempor ligula sit amet lacus. Nullam viverra eros ut est.<br>
<br>
Integer feugiat, leo egestas posuere blandit, sapien enim porttitor risus, elementum pulvinar arcu mauris nec lectus. Morbi euismod aliquet eros. Nam sit amet dolor ut est adipiscing aliquam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque scelerisque accumsan tellus. Cras vitae pede vitae est sagittis vulputate. Praesent vestibulum diam in pede. Morbi interdum justo at orci. Suspendisse vehicula dolor id lorem. In hac habitasse platea dictumst. Nunc tincidunt vehicula dolor. Morbi egestas nibh quis elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos.<br>
</p>
    {% endblock %}
</div></td></tr>
</tbody>
</table>
	  </td>
	</tr>
	</tbody></table>
	<img src="../../statics/spacer.gif" alt="" height="10" width="1">
</td></tr>
</tbody></table>
<table class="columnset" valign="top" style="" align="" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody><tr>
<td style="padding-right: 10px;" valign="" width="50%"><img src="../../statics/spacer.gif" alt="" height="1" width="50%"><br>
</td>
<td style="" valign="" width="50%"><img src="../../statics/spacer.gif" alt="" height="1" width="50%"><br>
</td>
</tr>
</tbody></table>
</td>
<td style="" valign="top" width="198"><img src="../../statics/spacer.gif" alt="" height="1" width="198"><br>
	<table class="Boxmain" border="0" cellpadding="0" cellspacing="0" width="100%">	
	<tbody><tr>
	<div class="bhz"><span class="ht1">»&nbsp;</span><span class="hw2">Авторизация</span></div>
	</tr>	
	<tr>
	  <td class="MainBody" align="center" valign="top"> 			
			<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">				
			<tbody><tr><td>
<table border="0" cellpadding="0" cellspacing="0" width="100%">

{% if user.username %}
<tbody>
<tr><td style="padding-bottom: 5px;">{{ user.last_name }} {{ user.first_name }} ({{ user.username }})</td></tr>
<tr><td style="padding-bottom: 5px;"><a href="/sisadmin/logout/">выход</a> </td></tr>
</tbody></table></td></tr>
</tbody>
{% endif %}
{% block login %}
{% endblock %}

</table>
	  </td>
	</tr>
	</tbody></table>
	<img src="../../statics/spacer.gif" alt="" height="10" width="1">
	<table class="Box2" border="0" cellpadding="0" cellspacing="0" width="100%">	
	<tbody><tr>
	  <td class="Header2">Вот</td>
	</tr>	
	<tr>
	  <td class="MainBody" align="center" valign="top"> 			
			<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">				
			<tbody><tr><td>
<table border="0" cellpadding="0" cellspacing="0">
<tbody><tr><td style="padding-bottom: 5px;" colspan="2" width="100%">ыфвывфы </td></tr>
</tbody></table></td></tr>
</tbody></table>
	  </td>
	</tr>
	</tbody></table>
	<img src="../../statics/spacer.gif" alt="" height="10" width="1">
	<table class="Box2" border="0" cellpadding="0" cellspacing="0" width="100%">	
	<tbody><tr>
	  <td class="Header2">Text Header</td>
	</tr>
	<tr>
	  <td class="MainBody" align="center" valign="top"> 			
			<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">				
			<tbody><tr><td>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody><tr><td>Content here Content here Content </td></tr>
        <tr><td><img src="../../statics/spacer2.gif" border="0" height="6" width="1"></td></tr>
        <tr><td><img src="../../statics/spacer2.gif" border="0" height="6" width="1"></td></tr>
        <tr><td>Content here Content here Content here</td></tr>
	</tbody></table></td></tr>
</tbody></table>
	  </td>
	</tr>
	</tbody></table>
	<img src="../../statics/spacer.gif" alt="" height="10" width="1">
	<table class="Box2" border="0" cellpadding="0" cellspacing="0" width="100%">	
	<tbody>	
	<tr>
	  <td class="MainBody" align="center" valign="top"> 			
			<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">				
			<tbody><tr><td>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody><tr><td style="padding-bottom: 5px;">Content here Content here Content here C</td></tr>
        <tr><td><img src="../../statics/spacer2.gif" border="0" height="6" width="1"></td></tr>
        <tr><td class="CubeDescription">Content here Content here Content here Content here</td></tr>	
	</tbody></table></td></tr>
</tbody></table>
	  </td>
	</tr>
	</tbody></table>
	<img src="../../statics/spacer.gif" alt="" height="10" width="1">
</td>
</tr>
</tbody></table>
<table class="Bordered" style="background-image: url('../client/tankstream/images/footer.gif'); border-bottom: 1px solid rgb(0, 57, 102)" align="center" border="0" cellpadding="0" cellspacing="0" height="33" width="897">
</table>
</body>
</html>