{%  extends "sites/shablon.html" %}
{% if user.username %}
    <p>Вы уже залогинены как {{ user.username }}</p></br>
    <p><a href="/">вернуться назад</a></p>
{% else %}
{% block body %}
<p>Пожалуйста введите Ваш e-mail адресс для получения дальнейшей инструкции</p>

<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email">E-mail адресс:</label> {{ form.email }} <input type="submit" value="Востановить" /></p>
</form>
{% endif %}
{% endblock %}