{%  extends "sites/shablon.html" %}
{% if user.username %}
    <p>Вы уже залогинены как {{ user.username }}</p></br>
    <p><a href="/">вернуться назад</a></p>
{% else %}
{% block body %}
{% if validlink %}
        <p>Пожалуйста введите ваш новый пароль<br /></p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Новый пароль:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Повторите новый пароль:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Изменить" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Ваш пароль был успешно изменён</h1>
        <p>Ваш пароль не соответствует политики безопасности, <br />
        Пожалуста введите ещё раз <br />
        Запросите ещё раз новый пароль</p>
    {% endif %}
{% endif %}
{% endblock %}
