{%  extends "sites/shablon.html" %}
{% if user.username %}
    <p>Вы уже залогинены как {{ user.username }}</p></br>
    <p><a href="/">вернуться назад</a></p>
{% else %}
{% block body %}
{% autoescape off %}
Для изменения пароля на сайт {{ site_name }}.

Пожалуйста пройдите ссылке
{{ protocol}}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}

Имя для востановления доступа {{ user.username }}

Спасибо за использование нашего сервиса

{{ site_name }}.
{% endautoescape %}
{% endif %}
{% endblock %}