<!DOCTYPE html>
<html>
<head>
{% load i18n static %}
<title></title>
<link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% static "admin/css/ie.css" %}" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "{% static "admin/" %}";</script>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/actions.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/SelectBox.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/SelectFilter2.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/calendar.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/admin/DateTimeShortcuts.js" %}"></script>

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<meta name="robots" content="NONE,NOARCHIVE">

<style type="text/css">
#accordion
{font-size:0.8em;}
</style>
<script type="text/javascript">
$(document).ready(function() {

   $("#accordion").accordion();
});
</script>

</head>

<body>
{% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form1.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">{% csrf_token %}
        <table>
            <tr>
                <td>
            <div class="vDateField">{{ form.data_start.label }}{{ form.data_start }}</div>
            <div class="vDateField">{{ form.data_end.label }}{{ form.data_end }}</div>
            <div class="vDateField">{{ form.data_end1.label }}{{ form.data_end1 }}</div>
            <div class="vDateField">{{ form.data_end2.label }}{{ form.data_end2 }}</div>
            <div class="vDateField">{{ form.data_end3.label }}{{ form.data_end3 }}</div>
            <div class="vDateField">{{ form.data_end4.label }}{{ form.data_end4 }}</div>
                </td>
            </tr>
        </table>
        <input type="submit" value="Расчитать">
    </form>
{% if a %}
    {{ a }} (считает хуйню)
{% endif %}
<table border="1">
    {% for n in result %}
        <tr>
        {% for m in n %}
            <td>{{ m }}</td>
        {% endfor %}
        </tr>
{% endfor %}
</table>

<div id="accordion">
<h2><a href="#">Медведи</a></h2>
<div>
<p><b>Медведи</b> (лат. Ursus) — род млекопитающих отряда хищных.</p>
<p>Согласно палеонтологическим сведениям, род медведей появился 5-6 миллионов лет назад. Первым его представителем в настоящее
время считают медведя Ursus minimus — относительно небольшое животное, чьи ископаемые останки найдены на территории Франции.
 Все современные четыре вида рода, а также ряд вымерших (таких, например, как пещерный медведь Ursus spelaeus) происходят
от этрусского медведя (Ursus etruscus), жившего 2-1 миллиона лет назад.</p>
<p>Самым молодым видом рода является белый медведь, который отделился от бурого медведя примерно 200 000 лет назад.</p>
</div>
<h2><a href="#">Белки</a></h2>
<div>
<p><b>Белки</b> (лат. Sciurus) — род грызунов семейства беличьих. Кроме собственно рода Sciurus, белками называют ещё целый ряд представителей семейства беличьих из родов бурундуковые белки (Tamiasciurus), пальмовые белки (Funambulus) и многих других. Что касается собственно рода Sciurus, то он объединяет в себя около 30 видов, распространённых в Европе, Северной и Южной Америке и в умеренном поясе Азии.</p>
<p>Имеет удлинённое тело с пушистым длинным хвостом, уши длинные, цвет темно-бурый с белым брюшком, иногда серый (особенно зимой). Водятся повсюду, кроме Австралии. Белка является источником ценного меха.</p>
</div>
<h2><a href="#">Лисы</a></h2>
<div>
<p><b>Обыкновенная, или рыжая лисица</b> (лат. Vulpes vulpes) — хищное млекопитающее семейства псовых, наиболее распространённый и самый крупный вид рода лисиц. Длина тела 60—90 см, хвоста — 40—60 см, масса — 6—10 кг.</p>
<p>Окраска и размеры лисиц различны в разных местностях; всего насчитывают 40—50 подвидов, не учитывая более мелких форм. В общем, при продвижении на север лисицы становятся более крупными и светлыми, на юг — мелкими и более тускло окрашенными. В северных районах и в горах также чаще встречаются чёрно-бурые и другие меланистические формы окраски лисиц. Наиболее распространённый окрас: ярко-рыжая спина, белое брюхо, тёмные лапы.  Внешне лисица представляет собой зверя среднего размера с изящным туловищем на невысоких лапах, с вытянутой мордой, острыми ушами и длинным пушистым хвостом.</p>
</div>
</div>
</body>

</html>