<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <title>Инвесторы видят перспективу</title>
        <link rel="stylesheet" href="/statics/styles.css" />
    </head>
    <body>
<header class="mainH">
    <hgroup>
        <h1>ООО Рога и копыта</h1>
        <h2>Полный текст новости</h2>
    </hgroup>
</header>

<nav>
    <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">Архивы новостей</a></li>
    </ul>
</nav>

<article>
    <header>
        <time datetime="2011-04-26" pubdate>
            <span>Апр</span> 26
        </time>
        <h1>
            <a href="#" title="Ссылка на новость" rel="bookmark">
                Инвесторы видят перспективу
            </a>
        </h1>
    </header>
    <p>Ничто не мешает людям воспользоваться рогами зайцелопа. Однако копыт у него нет.</p>
    <section>
        <header>
            <h1>Что думает общественность</h1>
        </header>
        <p>В реальности существует только Ubuntu с таким странным именем "Зайцелоп".</p>
    </section>
    <section>
    <header>
        <h1>Сбор рогов и копыт</h1>
    </header>
    <video
        src="http://tr.kinopoisk.ru/427076/kinopoisk.ru-Pirates-Caribbean-4-On-Stranger-Tides-57654.mp4"
        width="600" controls autoplay>
        <div class="noVideo">
            <p>Это видео можно просматривать в Chrome или Opera.</p>
        </div>
    </video>
    </section>
    <section>
    <header>
        <h1>Свяжитесь с нами</h1>
        <h2>Ваши данные</h2>
    </header>
    <form>
        <label for="cust_email">E-mail:</label>
        <input type="email" id="cust_email" placeholder="Введите ваш email" autofocus="autofocus"><br />
        <label for="cust_site">URL вашего сайта:</label>
        <input type="url" id="cust_site" placeholder="Введите URL вашего сайта"><br />
        <label for="cust_phone">Тел.:</label>
        <input type="tel" id="cust_phone" placeholder="Введите телефонный номер"><br />
        <label for="cust_birthday">Дата вашего рождения:</label>
        <input type="datetime-local" id="cust_birthday"><br />
        <label for="cust_priority">Важность для вас:</label>
        <input type="range" min="1" max="10" value="5" id="cust_priority"><br /><br />
        <input type="submit" value="Связаться">
    </form>
    </section>
</article>

<footer>
    <p>&copy; 2011 ООО Рога и копыта. Свои права мы держим в надёжном месте.</p>
</footer>
    </body>
</html>
