* {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
    font-size: 11pt;
}

body {
    width: auto; margin: 0px auto;
}

header.textfont {
    list-style: none; padding: 0px; display: block;
    text-align: left;
}
header td,b,a {
    font: Arial, Helvetica, sans-serif;
    font-size: 8pt;
}
header a:hover {
    color: #000000;
}